<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading clearfix">
      <h1 class="pull-left">TODO APP</h1>
      <button class="btn btn-success btn-circle btn-lg pull-right btn-addtask" data-toggle="modal" data-target="#myModal" (click)="clearData()">
        <span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="add task"></span>
      </button>
    </div>
    <div class="panel-body">
      <div class="jumbotron" *ngFor="let date of demo">
          <span [ngSwitch]="date">
              <h4 *ngSwitchCase="today">{{ date === today ? 'Today' : date | date}} :</h4>
              <h4 *ngSwitchCase="tomorrow">{{ date === tomorrow ? 'Tomorrow' : date | date}} :</h4>
              <h4 *ngSwitchCase="yesterday">{{ date === yesterday ? 'Yesterday' : date | date}} :</h4>
              <h4 *ngSwitchDefault>{{ date | date}} :</h4>
          </span>

        <div *ngFor="let todo of todos" class="row">
          <div class="col-xs-1 col-sm-1"  *ngIf="date === todo.date">
            <div class="checkbox checkbox-xs">
                <input type="checkbox"
                  name="" id="" [(ngModel)]="todo.completed" class=""
                  data-toggle="tooltip" data-placement="bottom" title="task status" (change)="updateTodo(todo,check.value)" #check>
              </div>
          </div>
          <div class="col-xs-8 col-sm-9" *ngIf="date === todo.date">
            <span [ngSwitch]="todo.priority">
              <p *ngSwitchCase="'high'" id="high" data-toggle="tooltip" data-placement="bottom" title="task details"
                  [ngClass]="{'checked': todo.completed}">{{ todo.task }}</p>
              <p *ngSwitchCase="'intermediate'" id="intermediate" data-toggle="tooltip" data-placement="bottom" title="task details"
                  [ngClass]="{'checked': todo.completed}">{{ todo.task }}</p>
              <p *ngSwitchCase="'low'" id="low" data-toggle="tooltip" data-placement="bottom" title="task details"
                  [ngClass]="{'checked': todo.completed}">{{ todo.task }}</p>
            </span>
          </div>
          <div class="col-xs-2  col-sm-2 col-xs-padding" *ngIf="date === todo.date">
            <button class="btn btn-info btn-circle btn-margin-left btn-edit-xs" data-toggle="modal" data-target="#myModal" (click)="editTodo(todo)">
              <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" title="edit task"></span>
            </button>
            <button class="btn btn-danger btn-circle btn-margin-left btn-del-xs" data-toggle="tooltip" data-placement="bottom" title="Delete task" (click)="removeTodo(todo._id)">
              <span class="	glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div id="copyright">Copyrights &copy; Todoapp - 2018 </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <form #f="ngForm" (ngSubmit)="submit(f,data)">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Task</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-success" *ngIf="success">
            <span>{{ message }}</span>
          </div>
          <div class="form-group">
            <label for="task">Enter Task</label>
            <input [(ngModel)]="data.task" #task="ngModel" required minlength="5" maxlength="50" type="text" class="form-control" name="task" id="task">
            <div class="alert alert-danger" *ngIf="task.touched && !task.valid">
              <div *ngIf="task.errors.required">
                task is required
              </div>
              <div *ngIf="task.errors.minlength">
                task should have minimun {{ task.errors.minlength.requiredLength }} characters.
              </div>
              <div *ngIf="task.errors.maxlength">
                task should have minimun {{ task.errors.maxlength.requiredLength }} characters.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="priority">Prority</label>
            <select [(ngModel)]="data.priority" required #priority="ngModel" name="priority" id="priority" class="form-control">
              <option value=""></option>
              <option value="low">low</option>
              <option value="high">high</option>
              <option value="intermediate">intermediate</option>
            </select>
            <div class="alert alert-danger" *ngIf="priority.touched && !priority.valid">
              <div *ngIf="priority.errors.required">Priority is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="date">Select Date</label>
            <input type="date" [ngModel]="data.date | date: 'yyyy-MM-dd'" (ngModelChange)='data.date = $event' #date="ngModel" name="date"
              id="date" class="form-control" required>
            <div class="alert alert-danger" *ngIf="date.touched && !date.valid">
              <div *ngIf="date.errors.required">Date is required.</div>
              <div *ngIf="date.errors.date">Provide correct date format.</div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" [disabled]='!f.valid'>Submit</button>
        </div>
      </div>

    </div>
  </form>
</div>

<!--- alert error message -->
<div class="alert alert-danger alert-dismissible fade in" id="error-container" *ngIf="isError">
  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Danger!</strong> {{ message }}
</div>
